:root {
    --azul-tutoriae: #0d2c46;
    --laranja-tutoriae: #df8638;
    --bege-tutoriae: #f8ece0;
    --azul-claro-tutoriae: #c1d4e5;
    --cinza-gelo-tutoriae: #e6e7eb;
    --cinza-medio-tutoriae: #b1b4bb;
    --cinza-escuro-tutoriae: #151718;
}

/* LINKS ONDE MODIFIQUEI A LOGO

- troquei as cores primeiro: https://app.photoroom.com/u/edit/68c1ce7c-5d8d-4eae-9db3-47e56f4d1e47?sourcePath=%2Fcreate
- removedor de fundo https://www.remove.bg/pt-br/upload
- troquei a cor da parte de dentro da logo: https://batchtools.pro/pt/changecolors/replace
*/